{% extends 'base.html.twig' %}

{% block title %}Nouveau Livre{% endblock %}

{% block body %}
    <h1>Ajouter Nouveau Livre</h1>

    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('livre_index') }}"><h4 class="mdi mdi-arrow-left-box">Retour</h4></a>
{% endblock %}
