{{ form_start(form) }}
    {{ form_widget(form) }}
    <br><button class="btn btn-success text-white mdi mdi-checkbox-marked-circle-outline"> {{ button_label|default('Valider') }}</button> <br>
{{ form_end(form) }} <br>